


<div class="modal-content container-fluid">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            <span></span>
            Cambiar contraseña
        </h3>
    </div>
    <div class="modal-body" id="modal-body">      
        <form  name="formCambiarPassword"  ng-submit="cambiarContrasena()">
            <div class="form-group">
                <label for="antigua">Contraseña actual:</label>
                <input type="password" id="antigua" class="form-control" ng-model="cambiarPassword.antigua" required>
            </div>
            <div class="form-group">
                <label for="nueva">Contraseña nueva: </label>
                <input type="password" minlength="6" id="nueva" class="form-control" ng-model="cambiarPassword.nueva" required>
            </div>
            <div class="form-group">
                <label for="repita">Repita la nueva contraseña: </label>
                <input name="repita" type="password" id="repita" class="form-control" ng-model="cambiarPassword.repita" required>
                <span ng-show="cambiarPassword.nueva != cambiarPassword.repita && formCambiarPassword.repita.$error.required != true" style="color:#a94442;">Las contraseñas no coinciden.</span>
            </div>
            <div class="form-group col-xs-6" style="text-align: center;">
                <input type="submit" class="btn btn-success" value="Cambiar contraseña">
            </div>
            <div class="form-group col-xs-6" style="text-align: center;">
                <input type="button" class="btn btn-warning"  ng-click="cancel()" value="Cancelar">
            </div>
        </form>
    </div>
</div>